html {
  font-size: 18px;
  line-height: 1.4;
}

.hero {
  background-image: url('../images/glasses-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 30rem;
  width: 100%;
}
